# Copy this example file to .env and fill in the values
# Do not commit .env to git

# Possible values are: plot, fetch, test
RUN_MODE=plot
OVERWRITE_EXISTING_DATA=false
DATA_FETCHER_START_EPOCH=208
DATA_FETCHER_END_EPOCH=230
DATA_FETCHER_SKIP_VALIDATION_DATA=false

# Possible values are: ci, json, db-sync, koios
SPRING_PROFILES_ACTIVE=ci json

# The following values are required for the dbsync profile
POSTGRES_USER=<YOUR_USER>
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_DB=cexplorer

# Settings for the json data provider
JSON_DATA_SOURCE_FOLDER=<PATH_TO_JSON_DATA_FOLDER>